/* generics */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



/* utilitities */
[class*="col"] {
    border: 1px solid red;
}

.color_gray{
    color: rgb(190, 187, 187);
}

.size_10{
    font-size: 10px;
}

.size_12{
    font-size: 12px;
}

.size_14{
    font-size: 14px;
}

.padding_0{
    padding: 0;
}

.h_100{
    height: 100%;
}

.h_60{
    height: 60px;
}

.grow{
    flex-grow: 1;
}



/* content */
#vue-app{
    max-width: 1200px;
}

/* parte sinistra */
/***** classi lista contatti *****/
ul{
    list-style-type: none;
}

ul li{
    border: 0.5px solid rgb(190, 187, 187);
}

ul li img{
    width: 50px;
    border-radius: 50%;
}

.info{
    width: 80%;
}

/***** classi button cerca/scrivi chat *****/
#input_group{
    size: 10px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: rgb(190, 187, 187);
    outline: 0;
    box-shadow: none
}
 
.button{
    height: 100%;
    background-color: white;
    border: 0.5px solid gray;
}

.icon_search{
    margin: 5px 30px;
}
/***** classi notifiche****/
.profile img{
    width: 50px;
    border-radius: 50%;
}

/* parte destra */
/* messaggi */
.background_img{
    background-image:url("img-bolzapp/mine.jpg");
}

.message{
    min-width: 200px;
    border: 2px solid black;
    padding: 5px 10px;
}

.sent{
    background-color: #d5f9ba;
}

.received{
    background-color: white;
}

/* tastiera */
#chat input{
    width: 70%;
    margin: 15px 40px;
}